html {
  margin: 0;
}
body {
  background-color: #EC8071;
}

.app {
  margin: 2rem 0;
}

.app__add {
  display: flex;
  justify-content: center;

  margin-bottom: 1em;
}

.app__quantity {
  display: flex;
  margin-right: 1em;
  margin-top: 1em;
  justify-content: flex-end;
  color: white;
  font-weight: bold;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .app {
    max-width: 60%;
    margin: 2rem auto;
  }
}

@media (min-width: 1281px) { 
  .app {
    max-width: 40%;
    margin: 2rem auto;
  }
}